@import "../../global";

$borderColor: $secondaryDark;
$backgroundColor: $surface;

.popover {
	position: absolute;
	top: 50%;
	left: calc(100% + 10px);
	transform: translateY(-50%);
	background-color: $backgroundColor;
	border: 1px solid $borderColor;
	border-radius: 5px;
	z-index: 2;
	padding: 10px;
	box-shadow: 3px 3px 3px black;

	&:before, &:after {
		position: absolute;
		top: calc(50% - 10px);
		content: '';
		border: 10px solid transparent;
	}

	&:before {
		left: -21px;
		border-right-color: $borderColor;
	}

	&:after {
		left: -20px;
		border-right-color: $backgroundColor;
	}
}
