@import "../../global";

.link {
	text-decoration: none;

	.line {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		.title {
			max-width: 90%;
		}

		.popover {
			display: flex;
			flex-direction: column;
			visibility: hidden;
			opacity: 0;
			transition: 300ms ease;
		}

		@include on-desktop {
			&:hover .popover, .popover:hover {
				visibility: visible;
				opacity: 1;
				transition: 300ms ease;
			}
		}
	}
}
