@import "../../global";

.badge {
	@include lightenOnHover($surface);

	border-radius: 5px;
	margin: 1px;
	padding: 5px;

	&.SUCCESS {
		@include lightenOnHover($success);
	}
	&.FAILURE {
		@include lightenOnHover($failure);
	}
	&.PENDING {
		@include lightenOnHover($pending);
	}
}
