@import "../../global";

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10px;
	background-color: $surface;

	.right {
		display: flex;
		flex-direction: row;
		align-items: center;

		.login {
			margin-right: 10px;
		}
	}

	.title {
		font-size: 18px;
		font-weight: bold;
	}
}
