@import "../../global";

$borderColor: $secondaryDark;
$backgroundColor: $surface;

.popover {
  position: absolute;
  top: 110%;
  background-color: $backgroundColor;
  border: 1px solid $borderColor;
  border-radius: 5px;
  z-index: 2;
  padding: 10px;
  box-shadow: 3px 3px 3px grey;

  &:before, &:after {
    position: absolute;
    left: calc(50% - 10px);
    content: '';
    border: 10px solid transparent;
  }

  &:before {
    top: -21px;
    border-bottom-color: $borderColor;
  }

  &:after {
    top: -20px;
    border-bottom-color: $backgroundColor;
  }
}

.build-status {
  margin: 0 5px;
}