@import "../../global";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

.icon {
  @include fa-icon;
  @extend .fas;

  padding-right: 5px;
  text-decoration: none;

  &.SUCCESS {
    &:before {
      color: green;
      content: fa-content($fa-var-check-circle);
    }
  }

  &.FAILURE {
    &:before {
      color: orange;
      content: fa-content($fa-var-exclamation-circle);
    }
  }

  &.ERROR {
    &:before {
      color: red;
      content: fa-content($fa-var-times-circle);
    }
  }

  &.PENDING {
    &:before {
      color: blue;
      content: fa-content($fa-var-clock);
    }
  }
}