@import "../../global";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

.icon {
	@include fa-icon;
	@extend .fas;

	text-decoration: none;

	&.SUCCESS:before {
		color: $success;
		content: fa-content($fa-var-check-circle);
	}

	&.FAILURE:before {
		color: $failure;
		content: fa-content($fa-var-exclamation-circle);
	}

	&.ERROR:before {
		color: $failure;
		content: fa-content($fa-var-times-circle);
	}

	&.PENDING:before {
		color: $pending;
		content: fa-content($fa-var-clock);
	}
}
