$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

// Colors
$primary: #FDA014;
$secondaryLight: #1352FE;
$secondary: #1644C4;
$secondaryDark: #0A1638;
$background: #FFFFFF;
$surface: #FCF7EF;

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: $secondaryDark;
	background-color: $primary;
	font-size: 16px;
}

a {
	color: $secondary;
}
