$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

// Colors
$primary: #121212;
$secondaryLight: #ffffff;
$secondary: rgba(255, 255, 255, 0.88);
$secondaryDark: rgba(255, 255, 255, 0.6);
$background: #000000;
$surface: #232323;

// Statuses
$success: green;
$failure: red;
$pending: #120262;

@mixin lightenOnHover($color) {
	background-color: $color;

	&:hover {
		background-color: lighten($color, 5%);
	}
}

@mixin on-desktop {
	@media (min-width: 1200px) { @content; }
}

@mixin on-tablet {
	@media (max-width: 1200px) { @content; }
}

@mixin on-mobile {
	@media (max-width: 640px) { @content; }
}

h2 {
	margin-top: 0;
}
