$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

// Colors
$primary: #121212;
$secondaryLight: #ffffff;
$secondary: rgba(255, 255, 255, 0.88);
$secondaryDark: rgba(255, 255, 255, 0.6);
$background: #000000;
$surface: #232323;

// Statuses
$success: green;
$failure: red;
$pending: #120262;

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: $secondaryLight;
	background-color: $primary;
	font-size: 16px;
}

a {
	color: $secondary;
}

@mixin lightenOnHover($color) {
	background-color: $color;

	&:hover {
		background-color: lighten($color, 5%);
	}
}
