@import "../../global";

.line {
	position: relative;

	&.SUCCESS {
		@include lightenOnHover($success);
	}
	&.FAILURE {
		@include lightenOnHover($failure);
	}
	&.PENDING {
		@include lightenOnHover($pending);
	}
	&.NO_STATUS {
		@include lightenOnHover($surface);
	}

	.branch-status {
		visibility: hidden;
		opacity: 0;
		transition: 300ms ease;
	}

	&:hover .branch-status, .branch-status:hover {
		visibility: visible;
		opacity: 1;
		transition: 300ms ease;
	}

	.repository-link {
		text-decoration: none;
	}
}
