@import "../../global";

.line {
	position: relative;
	display: flex;

	&.SUCCESS {
		@include lightenOnHover($success);
	}
	&.FAILURE {
		@include lightenOnHover($failure);
	}
	&.PENDING {
		@include lightenOnHover($pending);
	}
	&.NO_STATUS {
		@include lightenOnHover($surface);
	}

	.popover {
		display: flex;
		flex-direction: column;
		visibility: hidden;
		opacity: 0;
		transition: 300ms ease;
	}

	&:hover .popover, .popover:hover {
		visibility: visible;
		opacity: 1;
		transition: 300ms ease;
	}

	.repository-link {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		text-decoration: none;
	}
}
