name: Pull request validation

on:
    pull_request:
        branches: [ main ]

permissions:
    pull-requests: write

jobs:
    validate:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v6
            -   name: Setup latest NodeJS
                id: setup-node
                uses: actions/setup-node@v6
                with:
                    node-version: lts/*
                    cache: 'npm'
            -   name: Cache dependencies
                id: cache-npm-dependencies
                uses: actions/cache@v5
                with:
                    key: ${{ runner.os }}-node-${{ steps.setup-node.outputs.node-version }}-${{ hashFiles('**/package-lock.json') }}
                    path: './node_modules'
            -   name: Install dependencies
                if: steps.cache-npm-dependencies.outputs.cache-hit != 'true'
                run: npm ci
            -   name: Linter
                run: npm run lint
            -   name: Type-check
                run: npm run prebuild
            -   name: Unit tests
                run: npm test -- run --coverage
            - name: Code Coverage Report
              uses: irongut/CodeCoverageSummary@v1.3.0
              with:
                  filename: coverage/cobertura-coverage.xml
                  badge: true
                  format: markdown
                  output: both
            - name: Adding summary
              run: cat code-coverage-results.md >> $GITHUB_STEP_SUMMARY
